@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

@import "tailwindcss";

@theme {
  /* Nos couleurs "Luxe" */
  --color-brand-light: #0466C8;
  --color-brand-dark: #0353A4;
  --color-brand-primary: #023E7D;
  --color-brand-accent: #002855;
  --color-brand-muted: #001233;
  --color-brand-highlight: #33415C;
  --color-brand-background: #33415C;
  --color-brand-contrast: #5C677D;
  --color-brand-secondary: #7D8597;
  --color-brand-tertiary: #979DAC;

  --font-sans: 'Montserrat', sans-serif;
  --font-heading: "Anton SC", sans-serif;
}


body {
  background-color: var(--color-brand-contrast);
  color: var(--color-brand-dark);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
@keyframes floatCar {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.float-car {
  animation: floatCar 6s ease-in-out infinite;
}