@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

@import "tailwindcss";

@theme {
  /* 🎯 COLORS */
  --color-primary: #111111;
  --color-accent: #2563EB;

  --color-bg: #F9FAFB; 
  --color-surface: #FFFFFF; 

  --color-text-main: #111111;
  --color-text-secondary: #6B7280;

  --color-border: #E5E7EB;

  --color-success: #16A34A;
  --color-error: #DC2626;

  /* 🎯 FONTS */
  --font-sans: 'Montserrat', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

/* BASE */
body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}